     
       

        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
        }

       
        .container {
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            background-color: white;
            min-height: 100vh;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        }


        .left-column {
            background-color: #b4d455;
            width: 35%;
            padding: 40px 30px;
            color: white;
            text-align: center;
            font-size: 30px;
        }

       
        .profile-photo {
            width: 150px;
            height: 150px;
            margin: 0 auto 20px;
        }

        
      

      
        .section-title {
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            margin-top: 250px;
        }

       
        .contact-info {
            margin-bottom: 20px;
            margin-top: 70px;
        }

        .contact-label {
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .contact-value {
            font-size: 20px;
            margin-bottom: 20px;
        }

      
        .about-text {
            font-size: 14px;
            line-height: 1.6;
            text-align: justify;
        }


      
        .right-column {
            background-color: #faf6f0;
            width: 65%;
            padding: 40px 50px;
        }

       
      img {
            max-width: 150px;
            margin-bottom: 20px;
           
        }
        .company-name {
            font-size: 32px;
            font-weight: bold;
        }

        .arrow {
            color: #b4d455;
            font-size: 32px;
            font-weight: bold;
        }

       
        .right-section-title {
            font-size: 20px;
            font-style: italic;
            font-weight: bold;
            margin-bottom: 15px;
            margin-top: 30px;
            text-align: center;
        }

       
        .formation-text {
            font-size: 14px;
            line-height: 1.8;
            margin-bottom: 30px;
            text-align: justify;
        }


       
        .education-list,
        .skills-list,
        .languages-list,
        .experience-list {
            margin-left: 20px;
            margin-bottom: 20px;
        }

        .education-list li,
        .skills-list li,
        .languages-list li,
        .experience-list li {
            font-size: 14px;
            line-height: 1.8;
            margin-bottom: 5px;
        }

       
        .skills-intro {
            font-size: 14px;
            margin-bottom: 10px;
        }


       
        .trainee-title {
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
            margin-top: 20px;
            margin-bottom: 15px;
            text-align: center;
        }

        .role-item {
            font-size: 14px;
            margin-left: 20px;
        }