



body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background: #6fb531a8;      
}


form {
    background: rgb(255, 255, 255);
    padding: 20px;            
    border-radius: 10px;                   
    max-width: 600px;   
    font-family: Arial, sans-serif;   
    text-align: center;   
}



form .two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    margin-top: 8px;
}


form input,
form textarea,
form button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background: #6fb531ce;    
    color: white;            
    border: none;            
    border-radius: 4px;      
    cursor: pointer;     
    font-family: Arial, sans-serif;
}

input {
    border: 1px solid #ccc;  
    border-radius: 4px;
}

